{% extends 'blog/example.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
{% block content %}
{% for new in news %}
<div class="row container">
    <div class="col-10 container bg-light p-5 mt-5">
        <h1 class="text-primary "> {{new.title}}</h1>
       <div class="border border-primary">
            <div class=" p-2 d-flex ">
            <div class="images my-image-width">
                <img src="{{ new.image.url }}" class="w-100 image-fluid border border-dark">
            </div>
            <p class="ml-1">{{new.text|striptags|truncatechars:200}}</p></div>
            <p class="text-muted float-right"><b>Дата публикация: </b>{{new.published_date}}</p>
       </div>
    </div>
</div>
{% endfor %}
{% endblock %}
